@page {
  margin: 0cm 0cm;
}

/** Defina ahora los margenes reales de cada pagina en el PDF **/
body {
  margin-top: 2cm;
  margin-left: 0.5cm;
  margin-right: 0.5cm;
  margin-bottom: 2cm;
}

header {
  position: fixed;
  top: 0.5cm;
  left: 0cm;
  right: 0cm;
  height: 2cm;
  text-align: center;
}

footer {
  position: fixed; 
  bottom: 3cm; 
  left: 0.5cm; 
  right: 0.5cm;
  height: 2cm;
}

.firma {
  position: fixed; 
  bottom: 0cm; 
  left: 0.5cm; 
  right: 0.5cm;
  height: 2cm;
}

#container {
  font: normal 13px/1.4em 'Open Sans', Sans-serif;
  margin: 0 auto;
  /* min-height: 11; */
  position: relative;
}

.right-invoice {
  padding: 20px 12px 20px 12px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left;
}
table th, table td {
  text-align: left;
  vertical-align: top;
  word-break: keep-all;
  word-wrap: break-word;
}
/* 
table {
  border-collapse: collapse;
  border-spacing: 0;
} */
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  font-family: Sanchez, Serif;
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 3px;
  background: #b0b4b3;
  color: white;
}

#items table td {
  padding: 10px 3px;
  border-bottom: 1px solid #ddd;
}
.title-info{
  margin-bottom: 0.3cm;

}
#invoice-info2 {
  margin-top: 20px;
}
#invoice-info {
  margin-top: 20px;
}
#invoice-info2 div {
  margin-bottom: 3px;
  
}
#invoice-info2 div span {
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
}
#invoice-info2 div span:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 90px;
}
#invoice-info2 div span:last-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 100px;
}
#invoice-info2:after {
  content: '';
  display: block;
  clear: both;
}

#invoice-info {
  float: left;
  margin-top: 20px;
}
#invoice-info div {
  margin-bottom: 3px;
}
#invoice-info div span {
  display: inline-block;
  min-width: 20px;
  min-height: 18px;
}
#invoice-info div span:first-child {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
}
#invoice-info:after {
  content: '';
  display: block;
  clear: both;
}

.clearfix {
  display: block;
  clear: both;
}

#items {
  margin-top: 10px;
}


